<div class="suggestion-friedns-find">
    <img src="/img/people.png" id="img-people">
    <p id="people">People</p>
    <h2>View all</h2>
</div>
<div class="friends-find">
    <div class="header-friends-find">
        <h3>People you may know</h3>
    </div>
    {{#each usersData}}
    <form class="form-friends-find" method="POST">
        {{> user}}
        <input type="hidden" name="Id" value="{{this._id}}" />
        <input type="submit" value="Add friend">
    </form>
    {{/each}}
</div>